*{
    box-sizing: border-box;
    
}
.antraste{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 65px;
    background: rgb(155, 155, 18);
    color: white;
}
.mygtukai-juosta{
    display: flex;
   justify-content: center;
   align-content: space-between;
    width: 100%;
    height: 60px;
    background: rgba(128, 128, 128, 0.445);
   
}

.mygtukai{
    display: flex;
    width: 18%;
    height: 30px;
    border: 1px solid beige;
    margin-top: 12px;
    background: white;
    text-decoration:none ;
    padding-left: 5px;
    margin-left: 5px;
    text-align: center;

}
.prekiu-blokas{
    display: flex;
    align-items: stretch;
     width: 100%;
    border: 10px solid grey
}
.pirma{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
     width: 33%;
    border: 1px solid black;
    padding: 10px;
}


.mygtukas{
    display: flex;
    align-items: center;

    width: 85%;
    height: 40px;
    margin-left: 7px;
     border: 1px solid black ;
    background: grey;

}


.apacia{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: rgb(155, 155, 18);
    color: white;

}
.paveiksliuko-dydis{
    height: 380x;
    width: 100%;

}
.mygtuko-nuoroda{
    display: block;
    color: black;
    width: 100%;
    text-decoration:none ;
    text-align: center;


}
   



